<% provide(:title, "About") %>
<h1>Sample App</h1>
    <p align="center">
      Welcome to the About Page.
    </p>
    
<h2>F.A.Q.</h2>
    <p>
      1. Who are we? <br />
      2. What is the objective?<br />
      3. I found an assessibility issue on campus, how do I report it? <br />
    </p>