<div class="center jumbotron">
  <h1>Welcome to the Library Application</h1>

  <h2>
    This is the home page for the GNG2101 Library Application.
  </h2>

  <%= link_to "Get Started Now!", '#', class: "btn btn-lg btn-primary" %>
</div>
