<div class="center jumbotron">
  <h1>Welcome to the Library Application</h1>

  <h2>
    This is the home page for the GNG2101 Library Application.
  </h2>
  
  <h3>Are you:</h3>

  <%= link_to "A Student", 'started', class: "btn btn-lg btn-basic" %>
  <%= link_to "A Librarian", 'login', class: "btn btn-lg btn-primary.outline" %>
 </div> 
