<% provide(:title, "Started") %>
<h1>Library Disability App</h1>

<p align="center">
      
    <%= link_to "Request a book now", 'book_requests/new', class: "btn btn-lg btn-info" %>
</p>
<li><%= link_to "Request a book now", new_book_request_path %></li>
<li><%= link_to "Do you work in the library?", book_requests_path %></li>

</p>
